.Header {
  width:100%;
  flex: 0 0 auto;
  display: inline-block;
  top: 0;
  height: 60px;
  position: absolute;
  background: transparentize(#FEFEFE, 0.01);
  box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);

  .header-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .logoHeader {
    float: left;
    display: inline-block;
    background-size: 40px 40px;
    background-position: 10px 10px;
  }

  @media (max-width: 712px) {
    .menu {
      display: none;
    }
    .menuIconAll {
      display: inline-block;
    }
    .userPanelHeader {
      margin-right: 10px;
    }

  }
  @media (min-width: 712px) {
    .menu {
      display: inline-block;
    }
    .menuIconAll {
      display: none;
    }
    .userPanelHeader {
      margin-right: 20px;
    }
  }
  .menu {
    margin-left: 30px;
    min-width: 460px;
    float: left;
  }
  .menuIconAll {
    margin-top: 12px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
  }
  .userPanelHeader {
    float:right;
    flex: 0 1 auto;
    margin-left: auto;
    display: inline-block;
    padding-top: 19px;
    height: 100%;
  }
}
