html {
  height: 100%;
  min-height: 400px;
}

body {
  height: 100%;
  min-height: 100%;
}

body:after{
  display:none;
  content: url('~static/images/search-icon-nobackground-333333.png');
}

button:focus {
  outline:0;
}
input:focus {
  outline:0;
}
#__nuxt {
  height: 100%;
  min-height: 100%;
}

#__layout {
  height: 100%;
  min-height: 100%;
}
