.icon {
  max-height: $logo-height;
  max-width: $logo-width;
  position: relative;
  margin-left: 10px;
  .iconImg {
    height: 100%;
    width: 100%;
    // background: url('~static/icon/icons8-menu-grey-darker.svg') no-repeat;
  }
}

.icon-menuIcon {
  margin: 2px;
}
