.Article{
  position: relative;
  min-height: 100%;
  .container {
    max-width:800px;
    margin: 0 auto;
    padding: 0 5px 0 5px;
    .content {
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }
}
