.Post {
  position: relative;
  padding-top: $header-distance;
  padding-bottom: $bottom-distance;
  min-height: 100%;
  .container {
    margin: 0 auto;
    .Card {
      position: relative;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 500px;
      height: 150px;
      border: 1px solid grey;
      border-radius: 5px;
    }
    .Card2 {
      margin: 0 auto;
      margin-top: 15px;
      width: 500px;
      height: 150px;
      border: 1px solid grey;
      border-radius: 5px;
    }
    .content {
      padding: 10px 0 0 0;
      text-align: center;
      text-decoration: underline;
      color: blue;
      height: 65%;
      font-size: 32px;
      border-bottom: 1px solid grey;
    }
    .description {
      padding: 5px 0 0 10px;
      text-align: left;
      color: grey;
      font-size: 13px;
    }
  }
}
