.Post {
  position: relative;
  padding-top: $header-distance;
  padding-bottom: $bottom-distance;
  min-height: 100%;
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 30px 5px 30px 5px;

    .articles {
      cursor: pointer;
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 120px;
      border: 1px solid $black-megalight;
      border-radius: 3px;
      color: $black-light;
    }
    .articles:hover {
      color: $blue-main;
      // transform: scale(1.005); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .content {
      padding: 10px 0 0 10px;
      text-align: left;
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .description {
      padding: 5px 0 0 10px;
      text-align: left;
    }
    .title {
      white-space: nowrap;
      font-size: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    .searchArticle {
      border: 0px solid $black-megalight;
      height: 60px;
    }
  }
}
