.Post {
  width:100%;
  min-height:100%;
  min-height: 1050px;
  position: relative;
  margin: 0 auto;

  .Card {
  	position: relative;
  	margin: 0 auto;
  	margin-bottom: 30px;
  	top: 85px;
  	width: 500px;
  	height: 150px;
  	border: 1px solid grey;
  	border-radius: 5px;
  }
  .Card2 {
  	margin: 0 auto;
  	margin-top: 150px;
  	width: 500px;
  	height: 150px;
  	border: 1px solid grey;
  	border-radius: 5px;
  }
  .content {
  	padding: 10px 0 0 0;
  	text-align: center;
  	text-decoration: underline;
  	color: blue;
  	height: 65%;
  	font-size: 32px;
  	border-bottom: 1px solid grey;
  }
  .description {
  	padding: 5px 0 0 10px;
  	text-align: left;
  	color: grey;
  	font-size: 13px;
  }
}