.SignIn {
  position: relative;
  padding-top: $header-distance;
  padding-bottom: $bottom-distance;
  min-height: 100%;
  .container {
    min-width: 300px;
    max-width: 340px;
    padding: 5px;
    margin: 0 auto;
  }
  .signin-header {
    margin-top: 30px;
    .title {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .description {
    }
  }
  .form {
    margin-top: 20px;
  }
}
