.ui-input {
  width: 100%;
  height: 100%;
  min-height: 40px;
  min-width: 100px;
  border-radius: $input-border-radius;
  border: 1px solid $input-border-color;
  padding: 0 24px 0 24px;
  background: $white;
  line-height: 24px;
  font-size: 16px;
  color: $input-text-color;
}

.ui-input:focus {
  // caret-color: $input-caret-color-focus;
  border: 1px solid $input-border-color-focus;
}

.ui-input::placeholder {
  color: $input-placeholder-color;
  opacity: 1;
}

.email {
  padding-left: 72px;
  // background: url('assets/icons/input_email.png') no-repeat scroll 24px 15px;
  &:focus {
    // background: url('assets/icons/input_email_focus.png') no-repeat scroll 24px 14px;
  }
}

.name {
  padding-left: 72px;
  // background: url('assets/icons/input_name.png') no-repeat scroll 24px 15px;
  &:focus {
    // background: url('assets/icons/input_name_focus.png') no-repeat scroll 24px 14px;
  }
}

.name {
  padding-left: 72px;
  // background: url('assets/icons/input_name.png') no-repeat scroll 24px 15px;
  &:focus {
    // background: url('assets/icons/input_name_focus.png') no-repeat scroll 24px 14px;
  }
}

.country {
  padding-left: 72px;
  // background: url('assets/icons/input_country.png') no-repeat scroll 24px 15px;
  &:focus {
    // background: url('assets/icons/input_country_focus.png') no-repeat scroll 24px 14px;
  }
}

.school {
  padding-left: 72px;
  // background: url('assets/icons/input_school.png') no-repeat scroll 24px 15px;
  &:focus {
    // background: url('assets/icons/input_school_focus.png') no-repeat scroll 24px 14px;
  }
}

.phone {
  padding-left: 72px;
  // background: url('assets/icons/input_phone.png') no-repeat scroll 24px 15px;
  &:focus {
    // background: url('assets/icons/input_phone_focus.png') no-repeat scroll 24px 14px;
  }
}

.searchText {
  font-size: 19px;
  line-height: 1.25em;
  background: url('~static/images/search-icon-nobackground-8a8a8a.png') no-repeat scroll 0 0;
  &:focus {
    background: url('~static/images/search-icon-nobackground-333333.png') no-repeat scroll 0 0;
    background-size: contain;
  }
  background-size: contain;
}


.text {}
